@import "tailwindcss";

:root {
  --background: #3c4c5e;
  --foreground: #ffffff;
  --primary: #afff00;
  --secondary: #17222d;
  --secondary-light: #283747;
  --muted: #a0aab5;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-secondary-light: var(--secondary-light);
  --color-muted: var(--muted);
  --font-sans: var(--font-inter);
  --color-primary-foreground: #000000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #3c4c5e;
    --foreground: #ffffff;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), Arial, Helvetica, sans-serif;
}
